<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout/head.ejs %>
</head>
<body onload="initIns();loadComments('<%- e._id %>');">
<header>
    <% include ../layout/header.ejs %>
</header>
<div class="container text-center">

    <div class="offline_div text-center" id="offline_div" style="display: none">You are offline</div>

    <h2 id="title" class="pb-2 mb-0 mt-3"><%- e.title %></h2>

    <div class="media my-3 p-3 bg-white rounded shadow-lg row">
        <div class="col-12">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom-0 border-gray">
                <strong class="d-block text-gray-dark"><%- e.content %></strong>
                <% for (let p of e.pictures) { %>
                    <img src="<%- p %>" alt=""><br>
                <% } %>
            </p>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom-0 border-gray text-right">
                <%- e.date %><br>
            </p>
        </div>
    </div>

    <div class="text-center">
        <h3>Comments</h3>
    </div>

    <form class="form-group mt-3">
        <label for="new_comment">Create Comment</label>
        <textarea name="content" class="form-control mb-3" rows="5" cols="20" id="new_comment"
                  placeholder="Share your thought"></textarea>
        <input type="hidden" name="event" id="event_id" value="<%- e._id %>">
        <button type="submit" class="btn btn-primary" onclick="postNewComment()">Post</button>
    </form>

    <div id="stories_comments">
    </div>

</div>
<footer>
    <% include ../layout/footer.ejs %>
</footer>
</body>
</html>


